<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Обо мне - Котики</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Обо мне</a>
        <a href="/gallery">Галерея</a>
        <a href="/contact">Контакты</a>
        <a href="/breeds">Породы котиков</a>
    </nav>
    <h1>Обо мне</h1>
    <h2>Я люблю котиков и создалаэтот сайт, чтобы делиться этой любовью с миром.
        <ol>Кошки — удивительные создания, которые давно стали неотъемлемой частью нашей жизни. Эти грациозные и независимые питомцы приносят в дом уют и тепло. Каждый кот обладает своим характером: кто-то ласковый и игривый, а кто-то предпочитает быть более спокойным и независимым.

            Мурлыканье кошки успокаивает, а её внимание помогает нам чувствовать себя любимыми.</ol>
            <img src="https://png.pngtree.com/png-vector/20201229/ourmid/pngtree-a-squatting-tabby-cat-png-image_2664942.jpg" alt="очень милый котик">
            <ol>Эти животные — отличные компаньоны, которые могут стать настоящими друзьями на долгие годы. К тому же, они неприхотливы в уходе, что делает их идеальными питомцами для большинства людей.

                Каждая кошка уникальна, и, наблюдая за ней, можно узнать много нового о мире животных и об особенностях их поведения.</ol>
            </h2>
        
</body>
</html>
