<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Породы кошек</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    .breed {
      margin-bottom: 40px;
    }
    .breed img {
      width: 300px;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Главная</a>
    <a href="/about">О сайте</a>
    <a href="/gallery">Галерея</a>
    <a href="/breeds">Породы</a>
    <a href="/contact">Контакты</a>
  </nav>

  <h1>Популярные породы кошек</h1>
  Вы также можете узнать, какая парода кошек вам подходит <a href= "https://testometrika.com/pets/cat-selection-test-find-your-ideal-pet/">Котики</a>

  <div class="breed">
    <h2>Британская короткошёрстная</h2>
    <img src="https://zoo5.ru/image/data/A/Articles/British-shorthair.png" alt="Британская кошка">
    <p>Крупная, уравновешенная кошка с плотной плюшевой шерстью. Обладает спокойным характером и легко приспосабливается к домашней жизни.</p>
  </div>

  <div class="breed">
    <h2>Сиамская кошка</h2>
    <img src="https://png.pngtree.com/png-clipart/20231102/original/pngtree-siamese-kitten-purebred-photo-png-image_13496157.png" alt="Сиамская кошка">
    <p>Известна своей элегантностью, ярко-голубыми глазами и вокальной активностью. Очень общительная и привязывается к человеку.</p>
  </div>

  <div class="breed">
    <h2>Мейн-кун</h2>
    <img src="https://png.pngtree.com/png-clipart/20240218/original/pngtree-maine-coon-cat-cat-photo-png-image_14343797.png" alt="Мейн-кун">
    <p>Одна из крупнейших пород. Дружелюбные и игривые кошки, хорошо ладят с детьми. Обладают мощным телом и густой шерстью.</p>
  </div>

  <div class="breed">
    <h2>Сфинкс</h2>
    <img src="https://template-cats.ukit.me/uploads/s/f/q/j/fqj96lfthswp/img/autocrop/67d3ddd36db9fc6a1f5c591f1b7da54c.png" alt="Сфинкс">
    <p>Порода без шерсти, с мягкой кожей и удивительно тёплым телом. Очень ласковая, нуждается в тепле и заботе.</p>
  </div>

  <div class="breed">
    <h2>Бенгальская кошка</h2>
    <img src="https://png.klev.club/uploads/posts/2024-05/png-klev-club-vt93-p-bengalskaya-koshka-png-12.png" alt="Бенгальская кошка">
    <p>Экзотичная внешность с леопардовым окрасом и активный темперамент. Бенгалы любят воду и подвижные игры.</p>
  </div>
</body>
</html>
