<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Галерея - Котики</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Обо мне</a>
        <a href="/gallery">Галерея</a>
        <a href="/contact">Контакты</a>
        <a href="/breeds">Породы котиков</a>
    </nav>

    <h1>Вот несколько котиков вам!</h1>
    <img src="https://png.pngtree.com/png-clipart/20231020/original/pngtree-cute-kitty-cat-png-image_13390613.png" alt="очень милый котик">
    <img src="https://avatanplus.com/files/resources/original/5d3786cbb34d516c20e68bd6.png" alt="невероятно милый котик">
    <img src="https://img.freepik.com/free-photo/closeup-shot-cute-black-white-cat-lying_181624-44821.jpg?semt=ais_hybrid&w=740" alt="шкала милоты уже зашкаливает">
    <h1>Вывод: абсолютно все котята милашки!</h1>

</body>
</html>
